
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BreatheBetter</title>
    <link rel="icon" href="static/css/lungicon.png" type="image/png">
    <link rel="stylesheet" href="static\css\styles 2.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link href='https://fonts.googleapis.com/css2?family=Forum&display=swap' rel='stylesheet'/> 
    <link href='https://fonts.googleapis.com/css2?family=Arvo:wght@400;700&display=swap' rel='stylesheet'/> 
</head>
<body style="background: rgba(13, 13, 12, 0.1);">
<main>
    <div class="parent-container">
    <div class="frontpage">
        <h1> <i class= "fa-solid fa-lungs"></i> BreatheBetter</h1>
        <br>
        <br>
        <h4 style="margin-left: 38px;"> Feeling  <span style="font-weight: 900; color:rgb(247, 141, 41); font-size: 42px; ">  SUFFOCATED ?</span></h4>
        <h4 style="margin-left: 38px;">Is the air around you <span style="font-weight: 900; color:rgb(247, 141, 41);  font-size: 42px;">HEAVY</span> and <span style="font-weight: 900; color:rgb(247, 141, 41);  font-size: 42px;">UNCLEAR?</span></h4>
        <br>
        <p><span style="font-weight:500; font-size: 27px; margin-left: 27px;"> Don't guess, just check!</span></p>
        <p> <span style="font-weight:500; font-size: 27px; margin-left: 27px;"> Discover the air quality now with </span><span style="font-family: 'Forum'; font-weight:bolder; font-size: 45x;color:rgb(247, 141, 41); ">BreatheBetter!</span></p>
        <button id="trynow" style="font-size: 20px; margin-left: 40px;">Try Now</button>
    </div>

    </div>

    <script>
        document.getElementById("trynow").onclick=function()
        {
            window.location.href='/frontend';
        };
    </script>

    </main>
    <footer>
        <div class="footer-container">
            <p>&copy; 2025 Air Quality Prediction | Developed by <strong>Group C</strong></p>
            <div class="social-icons">
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-linkedin-in"></i></a>
            </div>
        </div>
    </footer>
</body>
</html>
